@page "/layout/{name}"

@inject IPmsLayoutRepository layoutRepository;
@inject IDataService dataService;


@if (LoopDefinition == null)
{
    <h3>Layout not found</h3>
    return;
}

<AutoRefreshBar RefreshNow="LoadDataAsync" Title="@($"Layout")" />

<div class="top-container">
    <div class="main-container">
        <HLevel3 ZoneInGridHelper="@ZoneInGridHelper"
        Data="@_data"
        DeviceHasBeenClicked="@DeviceHasBeenClicked_Handler" 
        MarkedDevices="@markedDevices"/>                
    </div>
    @if (markedDevices.Count > 0)
    {
        <div class="sidebar">
            <HLevel3b 
            ZoneInGridHelper="@ZoneInGridHelper"
            Data="@_data"
            MarkedDevices="@markedDevices" />
        </div>
    }
</div>

@code {
    [Parameter]
    public string name { get; set; }

    private List<Dictionary<string, object>> _data = new();
    private List<string> markedDevices = new();
    private AreaZoneInGridHelper ZoneInGridHelper = new();
    private IPmsLayout LoopDefinition;


    void DeviceHasBeenClicked_Handler(string deviceId)
    {
        var foundDevice = markedDevices.FirstOrDefault(x => x == deviceId);
        if (foundDevice == null)
        {
            markedDevices.Add(deviceId);
        }
        else
        {
            markedDevices.Remove(foundDevice);
        }
    }

    protected override async void OnParametersSet()
    {
        LoopDefinition = null;
        markedDevices = new();
        LoopDefinition = layoutRepository.GetAllLayouts().Where(x => x.Name == name).FirstOrDefault();
        if (LoopDefinition != null)
        {
            ZoneInGridHelper = new AreaZoneInGridHelper(LoopDefinition);
            LoadDataAsync();
        }
        
    }

    protected override async Task OnInitializedAsync()
    {        
    }


    private async Task LoadDataAsync()
    {
        _data = dataService.GetDictMfsPosTuData().ToList();
    }  
}

<style>
    .top-container {
        display: flex;
        flex-direction: row;
        height: 100vh; /* full height */
    }

    .main-container {
        flex: 3; /* takes more space */
        padding: 1rem;
        border-right: 1px solid #ccc;
    }

    .sidebar {
        flex: 1; /* smaller column */
        padding: 1rem;
        background-color: #f9f9f9;
    }
    
</style>
