<div class="loop-grid-container" style="@ZoneInGridHelper.MainGridStyle">
    @foreach (var areaZone in ZoneInGridHelper.AreaZones)
    {
        areaZone.ZonePositionMapping = ZoneInGridHelper.ZonePositionMapping;
        areaZone.ZoneData = ZoneInGridHelper.GetDataForZone(Data, areaZone.Id);
        areaZone.Direction = ZoneInGridHelper.GetLayoutDirectionForZone(areaZone.Id);

        string zoneClass = areaZone.GetCssClassForPositionState();
        string zoneStyle = areaZone.GetStyleForPosition();
       

        <div class="@zoneClass" style="@zoneStyle">
            @if (areaZone.IsAreaToShowDirection)
            {
                @areaZone.ZoneDisplayName
            }
            else
            {
                <HLevel2 TsZone="@areaZone" DeviceHasBeenClicked="@DeviceHasBeenClicked" MarkedDevices="@MarkedDevices" />
            }            
        </div>                            
    }  
</div>

@code {

    [Parameter]
    public AreaZoneInGridHelper ZoneInGridHelper { get; set; }
    [Parameter]
    public List<string> MarkedDevices { get; set; } = new();
    [Parameter]
    public EventCallback<string> DeviceHasBeenClicked { get; set; }
    [Parameter]
    public List<Dictionary<string, object>> Data { get; set; } = new();   
}

<style>

    .loop-grid-container {
        display: grid;
        box-sizing: border-box;
        gap: 1px; /* Optional spacing between grid items */
        padding: 10px;
        background-color: #f0f0f0;
    }


    .loop-grid-item {
        background-color: #333333;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: clip;
    }

    .loop-grid-direction-item {
        background-color: dodgerblue;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: clip;

    }

    .loop-grid-empty-item {
        background-color: #f0f0f0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .manual{
        background-color: orange;
        color: white;
    }
    .automatic{
        background-color: green;
        color: white;
    }
    .error{
        background-color: red;
        color: white;        
    }
</style>

