@foreach (var deviceId in MarkedDevices)
{
    var huDev = ZoneInGridHelper.GetDeviceInfo(Data, deviceId);

    <div style="border-style:solid; border-color:darkslategray; padding:5px; margin-bottom:10px;">
        <div style="display:flex; flex-direction:row; gap:10px; font-size:20px">
            <div>@huDev.Id</div>
            <div style="font-weight:bold; background-color:cornsilk; color:blue;">@huDev.CurrentZone</div>
            <div>( @huDev.OpModus )</div>
        </div>
        @if (string.IsNullOrEmpty(huDev.Hu) == false)
        {
            <div style="display:flex; flex-direction:row; gap:10px; font-size:30px">
                <div style="margin:5px;padding:5px;">Hu:</div>
                <div style="border-style:dotted; border-width:1px;font-weight:bold;background-color:ivory; color:blue;padding:5px; margin:5px;">@huDev.Hu</div>
            </div>
        }
        @if (string.IsNullOrEmpty(huDev.SrcLoc) == false)
        {
            <div style="display:flex; flex-direction:row; gap:10px; font-size:24px">

                <div>@huDev.SrcLoc</div>
                @if (string.IsNullOrEmpty(huDev.DstLoc) == false)
                {
                    <div style="font-weight:bold;"> &rarr; </div>
                    <div>@huDev.DstLoc</div>
                }
            </div>
        }

    </div>
}

@code {

    [Parameter]
    public AreaZoneInGridHelper ZoneInGridHelper { get; set; }
    [Parameter]
    public List<string> MarkedDevices { get; set; } = new();
    [Parameter]
    public List<Dictionary<string, object>> Data { get; set; } = new();

}
